/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family:inter;
    box-sizing: border-box;
    margin:0px;
}
main{
    max-width:1272px;
    margin:0px auto;
}
/* Shared Style */
.btn{
    background-color:#469165;
    padding:12px 15px;
    border:1px solid #469165;
    border-radius:4px;
    color:white;
    font-size:15px;
}
.btn:hover{
    background-color:#FF7DB0;
    border:1px solid #00F7FF;
}
.go-btn{
    display: flex;
    align-items: center;
    gap:10px;
    
}

.para{
     font-size:14px;
    font-weight: 300;
    color:#627382;
    line-height: 24px;
}


/* Nav bar Style  */
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-top:15px;
    height:86px;   
}
nav img {
    width:130px;
}
.menu-items ul{
    display:flex;
    gap:30px;
}
.menu-items ul li {
    list-style-type: none;
    font-size:15px;
    font-weight:500;   
}
.menu-items ul li a {
    text-decoration: none;
    color:#000000;
}

/* banner Style */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-size:cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    color:white;
    text-align: center;
    height: 630px;
}
.banner-btn0{
    background-color: white;
    border-radius: 1000px;
    border:none;
    color:#469165;
    font-size: 15px;
    font-weight: 500;
    padding:8px 12px;
}
.banner-btn0:hover{
    background-color:#FF7DB0;
    color:white;
}
.banner-btn2{
    background-color:transparent;
    border:1px solid white;
    margin-left: 15px;
}
.banner-btn2 .icon{
    margin-right:8px;
}

.banner-content h1{
    font-size:67px;
    font-weight: bold;
}

.banner-content p{
    font-size:16px;
    font-weight:400;
    line-height: 24px;
}

/* notes style  */

.notes{
    text-align: center;
    margin-top:70px;
}
.notes h1{
    font-size:46px;
    color:#001931;  
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap:24px;
    margin-top:40px;
 
}
.card{
       box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
       padding: 65px 24px;
       border-radius: 8px;
}
.card img{
    background-color:#F95555;
    border-radius: 100%;
    padding:12px;
    margin-bottom:15px;
}

.card h3{
    font-size:23px;
    font-weight: 600;
    margin-bottom: 15px;
    color:#001931;
}

/* Second Brain Style */

.second-brain{
    margin: 115px auto;
    display: flex;
    align-items:center;
    gap:55px;
}

.second-brain-details{
    display:flex;
    flex-direction: column;
    gap:16px;
}

.second-brain-details h4{
    color:#469165;
    font-size:15px;
    font-weight: 500;
    text-transform: uppercase;
    
}

.second-brain-details h1{
     font-size:46px;
     color:#001931;  
     font-weight: bold;
     margin-bottom: 15px;
     text-transform: capitalize;
}
.second-brain-details ul{
    padding:0px;
    margin-top:36px;
}

.second-brain-details ul li{
    background: url('../assets/CheckCircle.png') no-repeat left center;
    background-size: 18px;
    padding-left: 25px;
    margin-bottom: 15px;
    list-style:none;
    font-size: 15px;
}


/* think clearly Style */

.think-clearly{
    background-color:#F7F6F2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    padding: 75px 0px;
    margin-bottom: 115px;

}
.think-clearly h2{
    font-size:38px;
    font-weight: bold;
    text-transform: capitalize;
}

/* footer style */
footer{
    background-color:#001931;
}
.footer-content{
    max-width:1272px;
    margin:0px auto;
    color:white;
    padding:115px 0px 28px;
}
.social{
    display:flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.social .link{
    padding-right:100px;
}
.social .link p{
    font-size:18px;
    font-weight: 400;
}
.social-icon img{
    width:16px;
    margin:14px 14px 0px 0px;
}

hr{
    color:#E5E7EB;
    margin-bottom:28px;
    opacity: .2;
}

