/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family:inter;
    box-sizing: border-box;
    margin:0px;
}
main{
    max-width:1272px;
    margin:0px auto;
}
/* Shared Style */
.btn{
    background-color:#469165;
    padding:12px 15px;
    border:none;
    border-radius:4px;
    color:white;
    font-size:15px;
}

.para{
     font-size:15px;
    font-weight: 400;
    color:#627382;
    line-height: 24px;
}

/* Nav bar Style  */
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-top:15px;
    height:86px;   
}
nav img {
    width:130px;
}
.navbar ul{
    display:flex;
    gap:30px;
}
.navbar ul li {
    list-style-type: none;
    font-size:15px;
    font-weight:500;   
}
.navbar ul li a {
    text-decoration: none;
}

/* banner Style */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-size:cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    color:white;
    text-align: center;
    height: 630px;
}
.banner-btn0{
    background-color: white;
    border-radius: 1000px;
    border:none;
    color:#469165;
    padding:8px 12px;
}
.banner-btn1{
    display: flex;
    align-items: center;
    gap:10px;
    border:1px solid #469165;
}
.banner-btn2{
    background-color:transparent;
    border:1px solid white;
    margin-left: 15px;
}

.banner-content h1{
    font-size:67px;
    font-weight: bold;
}

.banner-content p{
    font-size:17px;
    font-weight: 400;
    line-height: 24px;
}

/* notes style  */

.notes{
    text-align: center;
    margin-top:70px;
}
.notes h1{
    font-size:46px;
    font-weight: bold;
    margin-bottom: 15px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap:24px;
 
}
.card{
       box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
       padding: 65px 24px;
       border-radius: 8px;
}
.card img{
    background-color:#F95555;
    border-radius: 100%;
    padding:12px;
}